.img-container {
  height: 380px;
  width: 380px;
}

.date-select {
  background-color: #131313;
  color: white;
  border: 0;
  height: 30px;
  padding: 2%;
  border-bottom: 1px solid #131313;
}

.accordion-button {
  background-color: #0cc0df !important;
  padding: 2%;
}

.accordion-item {
  border: 0;
}

.accordion-body {
  background-color: #1b1b1b;
  color: #6c9999;
}

.test {
  object-position: center;
  object-fit: fill;
}

.mySwiper {
  border-radius: 0;
  padding: 6%;
  opacity: 0.8;
  background-color: #1b1b1b;
}

.mySwiperThumb {
  
}


.persons {
  background-color: #1b1b1b;
}

gmp-map {
  height: 100%;
}
@media screen and (max-width: 850px) {
  .mySwiper {
    width: 100%;
    margin: auto;
  }
  .mySwiper2 {
    width: 90%;
    margin: auto;
  }
  .mySwiper2 img {
    height: 30rem;
  }
}
/* Optional: Makes the sample page fill the window. */
