.banner-swiper {
  border-radius: 25px;
  opacity: 1;
}

.mySwiper2 {
  background-color: #1b1b1b;
  padding: 5%;
  border-radius: 25px;
  opacity: 1;
}

.img-text {
  background-color: #1b1b1bbb;
  font-size: 12px;
}
